In [1]:
import pandas as pd
from google.cloud import bigquery
from bq_helper import BigQueryHelper

In [2]:
QUERY = """SELECT
  state_name,
  COUNT(consecutive_number) AS accidents,
  SUM(number_of_fatalities) AS fatalities,
  SUM(number_of_fatalities) / COUNT(consecutive_number) AS fatalities_per_accident
FROM
  `bigquery-public-data.nhtsa_traffic_fatalities.accident_{0}`
GROUP BY
  state_name
ORDER BY
  fatalities_per_accident DESC"""

In [2]:
def implicit():
    from google.cloud import storage

    # If you don't specify credentials when constructing the client, the
    # client library will look for credentials in the environment.
    storage_client = storage.Client()

    # Make an authenticated API request
    buckets = list(storage_client.list_buckets())
    print(buckets)

In [3]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="C:/Users/Darya/Downloads/2d25406cc41a.json"

In [4]:
bq_assistant = BigQueryHelper("bigquery-public-data", "nhtsa_traffic_fatalities")

In [10]:
QUERY = """SELECT *
FROM
  `bigquery-public-data.nhtsa_traffic_fatalities.accident_{0}`"""
accident = bq_assistant.query_to_pandas(QUERY.format(2016))

In [11]:
accident[accident['consecutive_number']==482754]

,state_number,state_name,consecutive_number,number_of_vehicle_forms_submitted_all,number_of_motor_vehicles_in_transport_mvit,number_of_parked_working_vehicles,number_of_forms_submitted_for_persons_not_in_motor_vehicles,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,number_of_forms_submitted_for_persons_in_motor_vehicles,...,minute_of_ems_arrival_at_hospital,related_factors_crash_level_1,related_factors_crash_level_1_name,related_factors_crash_level_2,related_factors_crash_level_2_name,related_factors_crash_level_3,related_factors_crash_level_3_name,number_of_fatalities,number_of_drunk_drivers,timestamp_of_crash
25336,48,Texas,482754,1,1,0,0,0,1,1,...,88,0,None,0,None,0,None,1,1,2016-10-26 00:15:00+00:00

In [12]:
QUERY = """SELECT *
FROM
  `bigquery-public-data.nhtsa_traffic_fatalities.vehicle_{0}`"""
vehicle = bq_assistant.query_to_pandas(QUERY.format(2016))

In [13]:
QUERY = """SELECT *
FROM
  `bigquery-public-data.nhtsa_traffic_fatalities.person_{0}`"""
person = bq_assistant.query_to_pandas(QUERY.format(2016))

In [14]:
QUERY = """SELECT *
FROM
  `bigquery-public-data.nhtsa_traffic_fatalities.person_{0}`
WHERE
person_type=1"""
driver = bq_assistant.query_to_pandas(QUERY.format(2016))

In [24]:
QUERY = """SELECT *
FROM
  `bigquery-public-data.nhtsa_traffic_fatalities.distract_{0}`"""
distract = bq_assistant.query_to_pandas(QUERY.format(2016))

In [25]:
QUERY = """SELECT *
FROM
  `bigquery-public-data.nhtsa_traffic_fatalities.drimpair_{0}`"""
df_2015 = bq_assistant.query_to_pandas(QUERY.format(2015))
df_2016 = bq_assistant.query_to_pandas(QUERY.format(2016))
drimpair = df_2015.append(df_2016,sort=False)

In [26]:
QUERY = """SELECT *
FROM
  `bigquery-public-data.nhtsa_traffic_fatalities.maneuver_{0}`"""
df_2015 = bq_assistant.query_to_pandas(QUERY.format(2015))
df_2016 = bq_assistant.query_to_pandas(QUERY.format(2016))
maneuver = df_2015.append(df_2016,sort=False)

In [29]:
QUERY = """SELECT *
FROM
  `bigquery-public-data.nhtsa_traffic_fatalities.violatn_{0}`"""
df_2015 = bq_assistant.query_to_pandas(QUERY.format(2015))
df_2016 = bq_assistant.query_to_pandas(QUERY.format(2016))
violatn = df_2015.append(df_2016,sort=False)

In [30]:
QUERY = """SELECT *
FROM
  `bigquery-public-data.nhtsa_traffic_fatalities.vision_{0}`"""
df_2015 = bq_assistant.query_to_pandas(QUERY.format(2015))
df_2016 = bq_assistant.query_to_pandas(QUERY.format(2016))
vision = df_2015.append(df_2016,sort=False)

In [21]:
for i in accident.columns:
    print(i)

state_number
state_name
consecutive_number
number_of_vehicle_forms_submitted_all
number_of_motor_vehicles_in_transport_mvit
number_of_parked_working_vehicles
number_of_forms_submitted_for_persons_not_in_motor_vehicles
number_of_persons_not_in_motor_vehicles_in_transport_mvit
number_of_persons_in_motor_vehicles_in_transport_mvit
number_of_forms_submitted_for_persons_in_motor_vehicles
county
city
day_of_crash
month_of_crash
year_of_crash
day_of_week
hour_of_crash
minute_of_crash
national_highway_system
land_use
land_use_name
functional_system
functional_system_name
ownership
ownership_name
route_signing
route_signing_name
trafficway_identifier
trafficway_identifier_2
milepoint
latitude
longitude
special_jurisdiction
special_jurisdiction_name
first_harmful_event
first_harmful_event_name
manner_of_collision
manner_of_collision_name
relation_to_junction_within_interchange_area
relation_to_junction_specific_location
relation_to_junction_specific_location_name
type_of_intersection
work_zone
relation_to_trafficway
relation_to_trafficway_name
light_condition
light_condition_name
atmospheric_conditions_1
atmospheric_conditions_1_name
atmospheric_conditions_2
atmospheric_conditions_2_name
atmospheric_conditions
atmospheric_conditions_name
school_bus_related
rail_grade_crossing_identifier
hour_of_notification
minute_of_notification
hour_of_arrival_at_scene
minute_of_arrival_at_scene
hour_of_ems_arrival_at_hospital
minute_of_ems_arrival_at_hospital
related_factors_crash_level_1
related_factors_crash_level_1_name
related_factors_crash_level_2
related_factors_crash_level_2_name
related_factors_crash_level_3
related_factors_crash_level_3_name
number_of_fatalities
number_of_drunk_drivers
timestamp_of_crash

In [22]:
for i in vehicle.columns:
    print(i)

state_number
consecutive_number
vehicle_number
number_of_motor_vehicles_in_transport_mvit
number_of_occupants
day_of_crash
month_of_crash
hour_of_crash
minute_of_crash
first_harmful_event
first_harmful_event_name
manner_of_collision
unit_type
hit_and_run
registration_state
registration_state_name
registered_vehicle_owner
registered_vehicle_owner_name
vehicle_make
vehicle_make_name
vehicle_model
make_model_combined
body_type
body_type_name
vehicle_model_year
vehicle_identification_number_vin
vin_character_1
vin_character_2
vin_character_3
vin_character_4
vin_character_5
vin_character_6
vin_character_7
vin_character_8
vin_character_9
vin_character_10
vin_character_11
vin_character_12
vehicle_trailing
jackknife
mcid_issuing_authority
mcid_identification_number
motor_carrier_identification_number_mcid
gross_vehicle_weight_rating
vehicle_configuration
vehicle_configuration_name
cargo_body_type
cargo_body_type_name
hazardous_material_involvement
hazardous_material_placard
hazardous_material_identification_number
hazardous_material_class_number
release_of_hazardous_material_from_the_cargo_compartment
bus_use
special_use
special_use_name
emergency_motor_vehicle_use
travel_speed
underride_override
rollover
location_of_rollover
initial_contact_point
extent_of_damage
vehicle_removal
most_harmful_event
related_factors_vehicle_level_1
related_factors_vehicle_level_2
fire_occurrence
driver_presence
drivers_license_state
drivers_zip_code
non_cdl_license_status
non_cdl_license_type
commercial_motor_vehicle_license_status
compliance_with_cdl_endorsements
license_compliance_with_class_of_vehicle
compliance_with_license_restrictions
driver_height
driver_weight
previous_recorded_crashes
previous_recorded_suspensions_and_revocations
previous_dwi_convictions
previous_speeding_convictions
previous_other_moving_violation_convictions
month_of_first_crash_suspension_or_conviction
year_of_first_crash_suspension_or_conviction
month_of_last_crash_suspension_or_conviction
year_of_last_crash_suspension_or_conviction
speeding_related
related_factors_driver_level_1
related_factors_driver_level_2
related_factors_driver_level_3
related_factors_driver_level_4
trafficway_description
total_lanes_in_roadway
speed_limit
roadway_alignment
roadway_grade
roadway_surface_type
roadway_surface_condition
roadway_surface_condition_name
traffic_control_device
traffic_control_device_functioning
pre_event_movement_prior_to_recognition_of_critical_event
critical_event_precrash
critical_event_precrash_name
attempted_avoidance_maneuver
attempted_avoidance_maneuver_name
pre_impact_stability
pre_impact_location
crash_type
crash_type_name
fatalities_in_vehicle
driver_drinking
timestamp_of_crash

In [23]:
for i in driver.columns:
    print(i)

state_number
consecutive_number
number_of_motor_vehicles_in_transport_mvit
vehicle_number
person_number
number_of_motor_vehicle_striking_non_motorist
county
day_of_crash
month_of_crash
hour_of_crash
minute_of_crash
land_use
land_use_name
functional_system
functional_system_name
first_harmful_event
first_harmful_event_name
manner_of_collision
manner_of_collision_name
school_bus_related
vehicle_make
vehicle_make_name
make_model_combined
body_type
body_type_name
vehicle_trailing
special_use
special_use_name
emergency_motor_vehicle_use
rollover
initial_contact_point
initial_contact_point_name
fire_occurrence
age
sex
person_type
person_type_name
injury_severity
injury_severity_name
seating_position
seating_position_name
restraint_system_helmet_use
restraint_system_helmet_use_name
indication_of_misuse_of_restraint_system_helmet
air_bag_deployed
air_bag_deployed_name
ejection
ejection_name
ejection_path
ejection_path_name
extrication
police_reported_alcohol_involvement
method_of_alcohol_determination_by_police
alcohol_test_status1
alcohol_test_status2
alcohol_test_status3
alcohol_test_status3_name
police_reported_drug_involvement
method_of_drug_determination_by_police
drug_test_status
drug_test_type1
drug_test_type2
drug_test_type3
drug_test_type4
drug_test_type4_name
drug_test_type5
drug_test_type5_name
drug_test_type6
drug_test_type6_name
transported_to_first_treatment_facility
transported_to_first_treatment_facility_name
died_at_scene_en_route
day_of_death
month_of_death
year_of_death
hour_of_death
minute_of_death
death_time
lag_hours
lag_minutes
related_factors_person_level1
related_factors_person_level2
related_factors_person_level3
fatal_injury_at_work
hispanic_origin
hispanic_origin_name
race
race_name
non_motorist_location_at_time_of_crash
non_motorist_location_at_time_of_crash_name
timestamp_of_crash

In [195]:
driver.vehicle_id = driver.consecutive_number.astype(str)+ driver.vehicle_number.astype(str)

In [197]:
vehicle.vehicle_id = vehicle.consecutive_number.astype(str)+ vehicle.vehicle_number.astype(str)

In [199]:
driver.drop_duplicates(inplace=True)
vehicle.drop_duplicates(inplace=True)

In [203]:
vd = pd.merge(vehicle,driver,on='vehicle_id', how='outer',suffixes=('', '_y'), copy=False)
vd.drop(vd.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)

In [205]:
df = pd.merge(accident,vd,on='consecutive_number',how='outer',suffixes=('', '_y'), copy=False)
df.drop(df.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)

In [122]:
av = pd.merge(accident,vehicle,on='consecutive_number',suffixes=('', '_y'), copy=False)
av.drop(av.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)

In [123]:
ad = pd.merge(accident,driver,on='consecutive_number',suffixes=('', '_y'), copy=False)
ad.drop(ad.filter(regex='_y$').columns.tolist(),axis=1, inplace=True)

In [30]:
for i in df.columns:
    print(i)

state_number
state_name
consecutive_number
number_of_vehicle_forms_submitted_all
number_of_motor_vehicles_in_transport_mvit
number_of_parked_working_vehicles
number_of_forms_submitted_for_persons_not_in_motor_vehicles
number_of_persons_not_in_motor_vehicles_in_transport_mvit
number_of_persons_in_motor_vehicles_in_transport_mvit
number_of_forms_submitted_for_persons_in_motor_vehicles
county
city
day_of_crash
month_of_crash
year_of_crash
day_of_week
hour_of_crash
minute_of_crash
national_highway_system
land_use
land_use_name
functional_system
functional_system_name
ownership
ownership_name
route_signing
route_signing_name
trafficway_identifier
trafficway_identifier_2
milepoint
latitude
longitude
special_jurisdiction
special_jurisdiction_name
first_harmful_event
first_harmful_event_name
manner_of_collision
manner_of_collision_name
relation_to_junction_within_interchange_area
relation_to_junction_specific_location
relation_to_junction_specific_location_name
type_of_intersection
work_zone
relation_to_trafficway
relation_to_trafficway_name
light_condition
light_condition_name
atmospheric_conditions_1
atmospheric_conditions_1_name
atmospheric_conditions_2
atmospheric_conditions_2_name
atmospheric_conditions
atmospheric_conditions_name
school_bus_related
rail_grade_crossing_identifier
hour_of_notification
minute_of_notification
hour_of_arrival_at_scene
minute_of_arrival_at_scene
hour_of_ems_arrival_at_hospital
minute_of_ems_arrival_at_hospital
related_factors_crash_level_1
related_factors_crash_level_1_name
related_factors_crash_level_2
related_factors_crash_level_2_name
related_factors_crash_level_3
related_factors_crash_level_3_name
number_of_fatalities
number_of_drunk_drivers
timestamp_of_crash
vehicle_number
number_of_occupants
unit_type
hit_and_run
registration_state
registration_state_name
registered_vehicle_owner
registered_vehicle_owner_name
vehicle_make
vehicle_make_name
vehicle_model
make_model_combined
body_type
body_type_name
vehicle_model_year
vehicle_identification_number_vin
vin_character_1
vin_character_2
vin_character_3
vin_character_4
vin_character_5
vin_character_6
vin_character_7
vin_character_8
vin_character_9
vin_character_10
vin_character_11
vin_character_12
vehicle_trailing
jackknife
mcid_issuing_authority
mcid_identification_number
motor_carrier_identification_number_mcid
gross_vehicle_weight_rating
vehicle_configuration
vehicle_configuration_name
cargo_body_type
cargo_body_type_name
hazardous_material_involvement
hazardous_material_placard
hazardous_material_identification_number
hazardous_material_class_number
release_of_hazardous_material_from_the_cargo_compartment
bus_use
special_use
special_use_name
emergency_motor_vehicle_use
travel_speed
underride_override
rollover
location_of_rollover
initial_contact_point
extent_of_damage
vehicle_removal
most_harmful_event
related_factors_vehicle_level_1
related_factors_vehicle_level_2
fire_occurrence
driver_presence
drivers_license_state
drivers_zip_code
non_cdl_license_status
non_cdl_license_type
commercial_motor_vehicle_license_status
compliance_with_cdl_endorsements
license_compliance_with_class_of_vehicle
compliance_with_license_restrictions
driver_height
driver_weight
previous_recorded_crashes
previous_recorded_suspensions_and_revocations
previous_dwi_convictions
previous_speeding_convictions
previous_other_moving_violation_convictions
month_of_first_crash_suspension_or_conviction
year_of_first_crash_suspension_or_conviction
month_of_last_crash_suspension_or_conviction
year_of_last_crash_suspension_or_conviction
speeding_related
related_factors_driver_level_1
related_factors_driver_level_2
related_factors_driver_level_3
related_factors_driver_level_4
trafficway_description
total_lanes_in_roadway
speed_limit
roadway_alignment
roadway_grade
roadway_surface_type
roadway_surface_condition
roadway_surface_condition_name
traffic_control_device
traffic_control_device_functioning
pre_event_movement_prior_to_recognition_of_critical_event
critical_event_precrash
critical_event_precrash_name
attempted_avoidance_maneuver
attempted_avoidance_maneuver_name
pre_impact_stability
pre_impact_location
crash_type
crash_type_name
fatalities_in_vehicle
driver_drinking
person_number
number_of_motor_vehicle_striking_non_motorist
initial_contact_point_name
age
sex
person_type
person_type_name
injury_severity
injury_severity_name
seating_position
seating_position_name
restraint_system_helmet_use
restraint_system_helmet_use_name
indication_of_misuse_of_restraint_system_helmet
air_bag_deployed
air_bag_deployed_name
ejection
ejection_name
ejection_path
ejection_path_name
extrication
police_reported_alcohol_involvement
method_of_alcohol_determination_by_police
alcohol_test_status1
alcohol_test_status2
alcohol_test_status3
alcohol_test_status3_name
police_reported_drug_involvement
method_of_drug_determination_by_police
drug_test_status
drug_test_type1
drug_test_type2
drug_test_type3
drug_test_type4
drug_test_type4_name
drug_test_type5
drug_test_type5_name
drug_test_type6
drug_test_type6_name
transported_to_first_treatment_facility
transported_to_first_treatment_facility_name
died_at_scene_en_route
day_of_death
month_of_death
year_of_death
hour_of_death
minute_of_death
death_time
lag_hours
lag_minutes
related_factors_person_level1
related_factors_person_level2
related_factors_person_level3
fatal_injury_at_work
hispanic_origin
hispanic_origin_name
race
race_name
non_motorist_location_at_time_of_crash
non_motorist_location_at_time_of_crash_name

In [207]:
df[df['consecutive_number']==40186].vehicle_id

5    401861
6    401862
Name: vehicle_id, dtype: object

In [198]:
vehicle[vehicle['consecutive_number']==40186].vehicle_id

30615    401861
38859    401862
Name: vehicle_id, dtype: object

In [208]:
accidents = df[["state_number",
"state_name",
"consecutive_number",
"vehicle_id",
"number_of_persons_not_in_motor_vehicles_in_transport_mvit",
"number_of_persons_in_motor_vehicles_in_transport_mvit",
"county",
"city",
"day_of_crash",
"month_of_crash",
"year_of_crash",
"day_of_week",
"hour_of_crash",
"minute_of_crash",
"timestamp_of_crash",
"land_use_name",
"latitude",
"longitude",
"first_harmful_event_name",
"manner_of_collision_name",
"relation_to_junction_specific_location_name",
"relation_to_trafficway_name",
"light_condition_name",
"atmospheric_conditions_name",
"school_bus_related",
"speeding_related",
"trafficway_description",
"total_lanes_in_roadway",
"speed_limit",
"roadway_alignment",
"roadway_grade",
"roadway_surface_type",
"roadway_surface_condition_name",
"critical_event_precrash_name",
"crash_type_name",
"fatalities_in_vehicle",
"hour_of_notification",
"minute_of_notification",
"hour_of_arrival_at_scene",
"minute_of_arrival_at_scene",
"hour_of_ems_arrival_at_hospital",
"minute_of_ems_arrival_at_hospital",
"number_of_fatalities",
"number_of_drunk_drivers",
"driver_drinking",
"hit_and_run",
"registration_state_name",
"rollover",
"extent_of_damage",
"drivers_license_state",
"drivers_zip_code",
"license_compliance_with_class_of_vehicle",
"vehicle_make_name",
"vehicle_number",
"vehicle_model_year",
"age",
"sex",
"driver_height",
"driver_weight",
"injury_severity_name",
"previous_recorded_crashes",
"previous_recorded_suspensions_and_revocations",
"previous_dwi_convictions",
"previous_speeding_convictions",
"previous_other_moving_violation_convictions"]]

In [178]:
vehicle[vehicle['consecutive_number']==10041]

,state_number,consecutive_number,vehicle_number,number_of_motor_vehicles_in_transport_mvit,number_of_occupants,day_of_crash,month_of_crash,hour_of_crash,minute_of_crash,first_harmful_event,...,attempted_avoidance_maneuver,attempted_avoidance_maneuver_name,pre_impact_stability,pre_impact_location,crash_type,crash_type_name,fatalities_in_vehicle,driver_drinking,timestamp_of_crash,vehicle_id
28020,1,10041,3,3,2,28,1,7,41,12,...,99,Unknown,Tracking,1,98,"MISCELLANEOUS, CONFIGURATION M: BACKING, ETC.,...",0,No Drinking,2016-01-28 07:41:00+00:00,100412.0
31244,1,10041,1,3,2,28,1,7,41,12,...,6,Steering Left,Tracking,2,64,"SAME TRAFFICWAY, OPPOSITE DIRECTION, CONFIGURA...",1,No Drinking,2016-01-28 07:41:00+00:00,100411.0
37323,1,10041,2,3,5,28,1,7,41,12,...,99,Unknown,Tracking,1,65,"SAME TRAFFICWAY, OPPOSITE DIRECTION, CONFIGURA...",0,No Drinking,2016-01-28 07:41:00+00:00,100411.0

In [8]:
QUERY = """SELECT
a.state_number,
a.state_name,
a.consecutive_number,
a.number_of_persons_not_in_motor_vehicles_in_transport_mvit,
a.number_of_persons_in_motor_vehicles_in_transport_mvit,
a.county,
a.city,
a.day_of_crash,
a.month_of_crash,
a.year_of_crash,
a.day_of_week,
a.hour_of_crash,
a.minute_of_crash,
a.timestamp_of_crash,
a.land_use_name,
a.latitude,
a.longitude,
a.first_harmful_event_name,
a.manner_of_collision_name,
a.relation_to_junction_specific_location_name,
a.relation_to_trafficway_name,
a.light_condition_name,
a.atmospheric_conditions_name,
a.school_bus_related,
v.speeding_related,
v.trafficway_description,
v.total_lanes_in_roadway,
v.speed_limit,
v.roadway_alignment,
v.roadway_grade,
v.roadway_surface_type,
v.roadway_surface_condition_name,
v.critical_event_precrash_name,
v.crash_type_name,
v.fatalities_in_vehicle,
a.hour_of_notification,
a.minute_of_notification,
a.hour_of_arrival_at_scene,
a.minute_of_arrival_at_scene,
a.hour_of_ems_arrival_at_hospital,
a.minute_of_ems_arrival_at_hospital,
a.number_of_fatalities,
a.number_of_drunk_drivers,
v.driver_drinking,
v.hit_and_run,
v.registration_state_name,
v.rollover,
v.extent_of_damage,
v.drivers_license_state,
v.drivers_zip_code,
v.license_compliance_with_class_of_vehicle,
p.vehicle_make_name,
p.vehicle_number,
p.person_number,
p.age,
p.sex,
v.driver_height,
v.driver_weight,
v.previous_recorded_crashes,
v.previous_recorded_suspensions_and_revocations,
v.previous_dwi_convictions,
v.previous_speeding_convictions,
v.previous_other_moving_violation_convictions
FROM
  `bigquery-public-data.nhtsa_traffic_fatalities.accident_{0}` a
  FULL OUTER JOIN
  `bigquery-public-data.nhtsa_traffic_fatalities.vehicle_{0}` v
  ON a.consecutive_number = v.consecutive_number
  FULL OUTER JOIN
  `bigquery-public-data.nhtsa_traffic_fatalities.person_{0}` p
  ON v.consecutive_number = p.consecutive_number
WHERE
p.person_type=1"""

df_2016 = bq_assistant.query_to_pandas(QUERY.format(2016))

In [9]:
df_2016

,state_number,state_name,consecutive_number,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,county,city,day_of_crash,month_of_crash,year_of_crash,...,person_number,age,sex,driver_height,driver_weight,previous_recorded_crashes,previous_recorded_suspensions_and_revocations,previous_dwi_convictions,previous_speeding_convictions,previous_other_moving_violation_convictions
0,47,Tennessee,470740,1,2,9,0,26,8,2016,...,1,23,Male,74,140,1,0,0,3,0
1,6,California,62545,1,1,37,1980,2,10,2016,...,1,48,Female,62,170,0,0,0,0,0
2,4,Arizona,40330,0,3,21,0,23,5,2016,...,1,32,Female,62,165,0,0,0,0,0
3,4,Arizona,40330,0,3,21,0,23,5,2016,...,1,32,Female,74,300,0,0,0,0,0
4,6,California,62842,1,1,71,260,15,7,2016,...,1,23,Female,65,100,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102142,42,Pennsylvania,420999,0,9,77,0,5,12,2016,...,1,57,Male,67,185,98,1,0,0,0
102143,42,Pennsylvania,420212,0,4,77,0,9,4,2016,...,1,23,Female,72,999,0,1,0,0,0
102144,42,Pennsylvania,420212,0,4,77,0,9,4,2016,...,1,23,Female,64,999,0,0,0,1,1
102145,42,Pennsylvania,420774,0,3,77,0,26,10,2016,...,1,24,Female,73,999,0,0,0,0,0
102146,42,Pennsylvania,420774,0,3,77,0,26,10,2016,...,1,24,Female,63,999,0,0,0,0,0

In [174]:
stats = pd.DataFrame(accidents.describe())
for i in range (len(stats.columns.tolist())):
    print(stats.iloc[:,i])

count    52714.000000
mean        26.945441
std         16.343858
min          1.000000
25%         12.000000
50%         26.000000
75%         42.000000
max         56.000000
Name: state_number, dtype: float64
count     52714.000000
mean     270237.344254
std      163337.374378
min       10001.000000
25%      121825.250000
50%      260643.000000
75%      420373.000000
max      560100.000000
Name: consecutive_number, dtype: float64
count    52714.000000
mean         0.172592
std          0.454225
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         11.000000
Name: number_of_persons_not_in_motor_vehicles_in_transport_mvit, dtype: float64
count    52714.000000
mean         2.946504
std          4.644200
min          0.000000
25%          1.000000
50%          2.000000
75%          3.000000
max        120.000000
Name: number_of_persons_in_motor_vehicles_in_transport_mvit, dtype: float64
count    52713.000000
mean        91.668981
std         95.556948
min          0.000000
25%         31.000000
50%         71.000000
75%        115.000000
max        840.000000
Name: county, dtype: float64
count    52714.000000
mean        15.715142
std          8.796004
min          1.000000
25%          8.000000
50%         16.000000
75%         23.000000
max         31.000000
Name: day_of_crash, dtype: float64
count    52714.000000
mean         6.761524
std          3.347636
min          1.000000
25%          4.000000
50%          7.000000
75%         10.000000
max         12.000000
Name: month_of_crash, dtype: float64
count    52714.0
mean      2016.0
std          0.0
min       2016.0
25%       2016.0
50%       2016.0
75%       2016.0
max       2016.0
Name: year_of_crash, dtype: float64
count    52714.000000
mean         4.152768
std          2.062181
min          1.000000
25%          2.000000
50%          4.000000
75%          6.000000
max          7.000000
Name: day_of_week, dtype: float64
count    52439.000000
mean        12.866416
std          6.635223
min          0.000000
25%          7.000000
50%         14.000000
75%         18.000000
max         23.000000
Name: hour_of_crash, dtype: float64
count    52438.000000
mean        28.683626
std         17.419129
min          0.000000
25%         14.000000
50%         29.000000
75%         44.000000
max         59.000000
Name: minute_of_crash, dtype: float64
count    52538.000000
mean        36.443406
std          5.186295
min         19.101319
25%         32.967313
50%         36.153692
75%         40.392697
max         68.344956
Name: latitude, dtype: float64
count    52538.000000
mean       -92.529294
std         14.953943
min       -174.204181
25%        -98.295500
50%        -87.935119
75%        -81.640036
max        -67.110531
Name: longitude, dtype: float64
count    52648.000000
mean         2.706181
std          1.237024
min          0.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          8.000000
Name: total_lanes_in_roadway, dtype: float64
count    51038.000000
mean        49.473040
std         13.553131
min          0.000000
25%         40.000000
50%         55.000000
75%         55.000000
max         80.000000
Name: speed_limit, dtype: float64
count    52714.000000
mean         0.580738
std          0.594317
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max         13.000000
Name: fatalities_in_vehicle, dtype: float64
count    26271.000000
mean        13.025884
std          6.351601
min          0.000000
25%          8.000000
50%         14.000000
75%         18.000000
max         23.000000
Name: hour_of_notification, dtype: float64
count    26267.000000
mean        29.625271
std         17.191105
min          0.000000
25%         15.000000
50%         30.000000
75%         45.000000
max         59.000000
Name: minute_of_notification, dtype: float64
count    26431.000000
mean        13.060611
std          6.376368
min          0.000000
25%          8.000000
50%         14.000000
75%         18.000000
max         23.000000
Name: hour_of_arrival_at_scene, dtype: float64
count    26431.000000
mean        29.610722
std         17.292347
min          0.000000
25%         15.000000
50%         30.000000
75%         45.000000
max         59.000000
Name: minute_of_arrival_at_scene, dtype: float64
count    16687.000000
mean        13.501888
std          6.287585
min          0.000000
25%          9.000000
50%         15.000000
75%         18.000000
max         23.000000
Name: hour_of_ems_arrival_at_hospital, dtype: float64
count    16716.000000
mean        29.494257
std         17.450485
min          0.000000
25%         15.000000
50%         30.000000
75%         45.000000
max         96.000000
Name: minute_of_ems_arrival_at_hospital, dtype: float64
count    52714.000000
mean         1.111906
std          0.407489
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         13.000000
Name: number_of_fatalities, dtype: float64
count    52714.000000
mean         0.264522
std          0.467312
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          3.000000
Name: number_of_drunk_drivers, dtype: float64
count    51195.000000
mean     53071.072605
std      27308.939278
min          0.000000
25%      31320.500000
50%      48192.000000
75%      77520.000000
max      99921.000000
Name: drivers_zip_code, dtype: float64
count    52714.000000
mean         1.477482
std          1.465840
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max         64.000000
Name: vehicle_number, dtype: float64
count    51477.000000
mean      2005.532043
std          7.147713
min       1928.000000
25%       2001.000000
50%       2006.000000
75%       2011.000000
max       2017.000000
Name: vehicle_model_year, dtype: float64
count    44918.000000
mean        68.557238
std          3.919579
min         36.000000
25%         66.000000
50%         69.000000
75%         71.000000
max         84.000000
Name: driver_height, dtype: float64
count    33995.000000
mean       183.928784
std         45.404630
min         40.000000
25%        150.000000
50%        180.000000
75%        210.000000
max        630.000000
Name: driver_weight, dtype: float64
count    46175.000000
mean         0.234607
std          0.579263
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          9.000000
Name: previous_recorded_crashes, dtype: float64
count    50626.000000
mean         0.426797
std          1.719220
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         65.000000
Name: previous_recorded_suspensions_and_revocations, dtype: float64
count    50626.000000
mean         0.044542
std          0.251202
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          6.000000
Name: previous_dwi_convictions, dtype: float64
count    50626.000000
mean         0.312053
std          0.750916
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         14.000000
Name: previous_speeding_convictions, dtype: float64
count    50626.000000
mean         0.373326
std          1.040951
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         59.000000
Name: previous_other_moving_violation_convictions, dtype: float64

In [209]:
def replace(col,value):
    for i in range(len(accidents)):
        if accidents.loc[i,col] == value:
            accidents.loc[i,col] = None

In [210]:
replace('city',0)
replace('license_compliance_with_class_of_vehicle','Unknown')
replace('speeding_related','Unknown')
replace('registration_state_name','Unknown')
replace('extent_of_damage','Unknown')
replace('atmospheric_conditions_name','Unknown')
replace('roadway_surface_condition_name','Unknown')
replace('light_condition_name','Unknown')
replace('relation_to_junction_specific_location_name','Unknown')
replace('relation_to_trafficway_name','Unknown')
replace('critical_event_precrash_name','Unknown')
replace('hit_and_run','Unknown')
replace('roadway_grade','Unknown')
replace('roadway_alignment','Unknown')
replace('manner_of_collision_name','Unknown')
replace('trafficway_description','Unknown')
replace('roadway_surface_type','Unknown')
replace('first_harmful_event_name','Unknown')
replace('land_use_name','Unknown')
replace('sex','Unknown')
replace('latitude',77.7777)
replace('longitude',777.7777)
replace('latitude',88.8888)
replace('longitude',888.8888)
replace('minute_of_arrival_at_scene',97)
replace('minute_of_ems_arrival_at_hospital',97)
replace('latitude',88)
replace('longitude',888)
replace('latitude',99.9999)
replace('longitude',999.9999)
replace('hour_of_crash',99)
replace('latitude',99)
replace('longitude',999)
replace('speed_limit',98)
replace('hour_of_notification',88)
replace('minute_of_notification',88)
replace('minute_of_notification',98)
replace('hour_of_arrival_at_scene',88)
replace('minute_of_arrival_at_scene',88)
replace('minute_of_arrival_at_scene',98)
replace('hour_of_ems_arrival_at_hospital',88)
replace('minute_of_ems_arrival_at_hospital',88)
replace('minute_of_ems_arrival_at_hospital',98)
replace('drivers_zip_code',99997)
replace('vehicle_model_year',9998)
replace('county',999)
replace('minute_of_crash',99)
replace('total_lanes_in_roadway',9)
replace('speed_limit',99)
replace('hour_of_notification',99)
replace('minute_of_notification',99)
replace('hour_of_arrival_at_scene',99)
replace('minute_of_arrival_at_scene',99)
replace('hour_of_ems_arrival_at_hospital',99)
replace('minute_of_ems_arrival_at_hospital',99)
replace('drivers_zip_code',99999)
replace('vehicle_model_year',9999)
replace('driver_height',998)
replace('driver_weight',997)
replace('previous_recorded_crashes',998)
replace('previous_recorded_suspensions_and_revocations',998)
replace('previous_dwi_convictions',998)
replace('previous_speeding_convictions',998)
replace('previous_other_moving_violation_convictions',998)
replace('previous_recorded_crashes',98)
replace('previous_recorded_crashes',99)
replace('previous_other_moving_violation_convictions',99)
replace('city',9898)
replace('city',9999)
replace('previous_recorded_crashes',99)
replace('previous_recorded_suspensions_and_revocations',99)
replace('previous_dwi_convictions',99)
replace('previous_speeding_convictions',99)
replace('driver_height',999)
replace('driver_weight',999)
replace('drivers_license_state',99)
replace('drivers_license_state',98)
replace('drivers_license_state',0)
replace('age',999)
replace('age',99)
replace('age',998)

C:\Users\Darya\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [211]:
for i in range(len(accidents)):
    if accidents.loc[i,'city'] == 9997:
        accidents.loc[i,'city'] = 'Other'
    if accidents.loc[i,'drivers_license_state'] == 57:
        accidents.loc[i,'drivers_license_state'] = "Other US Driver's License"
    if accidents.loc[i,'drivers_license_state'] == 93:
        accidents.loc[i,'drivers_license_state'] = 'Indian Nation'
    if accidents.loc[i,'drivers_license_state'] == 94:
        accidents.loc[i,'drivers_license_state'] = 'Military'
    if accidents.loc[i,'drivers_license_state'] == 95:
        accidents.loc[i,'drivers_license_state'] = 'Canada'
    if accidents.loc[i,'drivers_license_state'] == 96:
        accidents.loc[i,'drivers_license_state'] = 'Mexico'
    if accidents.loc[i,'drivers_license_state'] == 97:
        accidents.loc[i,'drivers_license_state'] = 'Other Foreign Country'

In [43]:
codes = pd.read_csv("codes.csv")

In [44]:
codes['County Code'] = codes['County Code'].astype(float)
codes['City Code'] = codes['City Code'].astype(float)

In [212]:
accidents['county'] = accidents['county'].apply(lambda x: float(x) if x != "Other" else x)

C:\Users\Darya\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [213]:
accidents['city'] = accidents['city'].apply(lambda x: float(x) if x != "Other" else x)

C:\Users\Darya\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [47]:
city_dict = {}
for i in range(len(codes)):
    if codes.loc[i,"City Code"] not in city_dict:
        city_dict[codes.loc[i,"City Code"]] = codes.loc[i,"City Name"]

In [48]:
county_dict = {}
for i in range(len(codes)):
    if codes.loc[i,"County Code"] not in county_dict:
        county_dict[codes.loc[i,"County Code"]] = codes.loc[i,"County Name"]

In [214]:
def replace(col,value):
    for i in range(len(accidents)):
        if accidents.loc[i,col] == value:
            accidents.loc[i,col] = None
replace('county',0)
replace('city',0)

In [215]:
accidents['city'] = accidents['city'].replace(city_dict)

C:\Users\Darya\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [216]:
accidents['county'] = accidents['county'].replace(county_dict)

C:\Users\Darya\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [217]:
codes['State Code'] = codes['State Code'].astype(float)
state_dict = {}
for i in range(len(codes)):
    if codes.loc[i,"State Code"] not in state_dict:
        state_dict[codes.loc[i,"State Code"]] = codes.loc[i,"State Name"]
accidents['drivers_license_state'] = accidents['drivers_license_state'].replace(state_dict)

C:\Users\Darya\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [218]:
accidents.drop(columns=['state_number'],inplace=True)

C:\Users\Darya\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [220]:
accidents.sort_values('vehicle_id',inplace=True)
accidents.to_csv("accidents.csv",index=False)

C:\Users\Darya\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [221]:
accidents[accidents['consecutive_number']==10011]

,state_name,consecutive_number,vehicle_id,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,county,city,day_of_crash,month_of_crash,year_of_crash,...,age,sex,driver_height,driver_weight,injury_severity_name,previous_recorded_crashes,previous_recorded_suspensions_and_revocations,previous_dwi_convictions,previous_speeding_convictions,previous_other_moving_violation_convictions
47719,Alabama,10011,100111,0,2,JEFFERSON,BIRMINGHAM,6,1,2016,...,75.0,Male,70.0,200.0,Suspected Minor Injury (B),0.0,0.0,0.0,0.0,0.0
47720,Alabama,10011,100112,0,2,JEFFERSON,BIRMINGHAM,6,1,2016,...,26.0,Male,71.0,154.0,Fatal Injury (K),0.0,0.0,0.0,2.0,0.0

In [1]:
import pandas as pd
accidents = pd.read_csv("accidents.csv")
pop = pd.read_csv("population-2016.csv")

In [3]:
pop.drop(columns=['STATE'],inplace=True)

In [5]:
pop.columns=['state_name','state_population']
pop.head()

   state_name  state_population
0     Alabama           4863525
1      Alaska            741456
2     Arizona           6941072
3    Arkansas           2989918
4  California          39167117

In [16]:
df = pd.merge(accidents,pop,on='state_name', how='left')
df.head()

,state_name,consecutive_number,vehicle_id,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,county,city,day_of_crash,month_of_crash,year_of_crash,...,sex,driver_height,driver_weight,injury_severity_name,previous_recorded_crashes,previous_recorded_suspensions_and_revocations,previous_dwi_convictions,previous_speeding_convictions,previous_other_moving_violation_convictions,state_population
0,Alabama,10001,100011,0,1,JEFFERSON,HOOVER,1,1,2016,...,Female,68.0,140.0,Fatal Injury (K),0.0,0.0,0.0,1.0,0.0,4863525
1,Alabama,10002,100021,0,2,JEFFERSON,HOOVER,10,1,2016,...,Male,62.0,135.0,Suspected Serious Injury (A),0.0,3.0,2.0,0.0,1.0,4863525
2,Alabama,10003,100031,1,1,JEFFERSON,NaN,1,1,2016,...,Male,71.0,148.0,Fatal Injury (K),2.0,0.0,0.0,3.0,0.0,4863525
3,Alabama,10004,100041,0,1,JEFFERSON,NaN,17,1,2016,...,Male,72.0,225.0,Fatal Injury (K),0.0,0.0,0.0,5.0,0.0,4863525
4,Alabama,10005,100051,0,1,JEFFERSON,VESTAVIA HILLS,26,1,2016,...,Male,70.0,210.0,Fatal Injury (K),0.0,0.0,0.0,0.0,0.0,4863525

In [17]:
ta = df.groupby('state_name')['consecutive_number'].nunique()

In [18]:
df = pd.merge(df,ta,on='state_name', how='left')
df.head()

,state_name,consecutive_number_x,vehicle_id,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,county,city,day_of_crash,month_of_crash,year_of_crash,...,driver_height,driver_weight,injury_severity_name,previous_recorded_crashes,previous_recorded_suspensions_and_revocations,previous_dwi_convictions,previous_speeding_convictions,previous_other_moving_violation_convictions,state_population,consecutive_number_y
0,Alabama,10001,100011,0,1,JEFFERSON,HOOVER,1,1,2016,...,68.0,140.0,Fatal Injury (K),0.0,0.0,0.0,1.0,0.0,4863525,979
1,Alabama,10002,100021,0,2,JEFFERSON,HOOVER,10,1,2016,...,62.0,135.0,Suspected Serious Injury (A),0.0,3.0,2.0,0.0,1.0,4863525,979
2,Alabama,10003,100031,1,1,JEFFERSON,NaN,1,1,2016,...,71.0,148.0,Fatal Injury (K),2.0,0.0,0.0,3.0,0.0,4863525,979
3,Alabama,10004,100041,0,1,JEFFERSON,NaN,17,1,2016,...,72.0,225.0,Fatal Injury (K),0.0,0.0,0.0,5.0,0.0,4863525,979
4,Alabama,10005,100051,0,1,JEFFERSON,VESTAVIA HILLS,26,1,2016,...,70.0,210.0,Fatal Injury (K),0.0,0.0,0.0,0.0,0.0,4863525,979

In [21]:
df['acc_pop'] = df.consecutive_number_y / df.state_population

In [23]:
df.columns = df.columns.str.replace("consecutive_number_y","state_num_acc")

In [24]:
df.head()

,state_name,consecutive_number_x,vehicle_id,number_of_persons_not_in_motor_vehicles_in_transport_mvit,number_of_persons_in_motor_vehicles_in_transport_mvit,county,city,day_of_crash,month_of_crash,year_of_crash,...,driver_weight,injury_severity_name,previous_recorded_crashes,previous_recorded_suspensions_and_revocations,previous_dwi_convictions,previous_speeding_convictions,previous_other_moving_violation_convictions,state_population,state_num_acc,acc_pop
0,Alabama,10001,100011,0,1,JEFFERSON,HOOVER,1,1,2016,...,140.0,Fatal Injury (K),0.0,0.0,0.0,1.0,0.0,4863525,979,0.000201
1,Alabama,10002,100021,0,2,JEFFERSON,HOOVER,10,1,2016,...,135.0,Suspected Serious Injury (A),0.0,3.0,2.0,0.0,1.0,4863525,979,0.000201
2,Alabama,10003,100031,1,1,JEFFERSON,NaN,1,1,2016,...,148.0,Fatal Injury (K),2.0,0.0,0.0,3.0,0.0,4863525,979,0.000201
3,Alabama,10004,100041,0,1,JEFFERSON,NaN,17,1,2016,...,225.0,Fatal Injury (K),0.0,0.0,0.0,5.0,0.0,4863525,979,0.000201
4,Alabama,10005,100051,0,1,JEFFERSON,VESTAVIA HILLS,26,1,2016,...,210.0,Fatal Injury (K),0.0,0.0,0.0,0.0,0.0,4863525,979,0.000201

In [25]:
df.to_csv("accidents-pop.csv",index=False)